/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#first-head {
   text-shadow: 2px 2px 2px $pink;
   margin-top: 150px;
 }

.grey-text {
  text-align: center;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 130px;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
}
h3 {
  background-color: $pink;
  margin: 10px 0px 10px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

p {
  text-align: center;
  font-size: 19px;
}

body {
  font-family: monospace;
  margin: 0px;
}

.parallax {
  opacity: 0.75;
}

.grey.lighten-4 {
    background-color: #f5f5f5 !important;
}

.page-cover {
  height: 100%;
}

.text {
  font-size: 25px;
}
.text p {
  color: white;
}

.page-cover h2 {
  padding-bottom: 50px;
}
#bouton {
  padding-top: 30px;
}
#mapes {
  background-color: $pink;
}
// body {
//   background-color: #eeeeee;
// }
