<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
      <div class="caption center-align">
        <h3>Atelier massage bébé</h3>
        <h5 class="light grey-text text-lighten-3">4 rencontres pour apprendre les mouvements du massage adaptés à votre bébé, découvrir les bienfaits du massage et se retrouver avec d’autres parents.</h5>
      </div>
    </li>
    <li>
      <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
      <div class="caption left-align">
        <h3>Meetup : Ruby</h3>
        <h5 class="light grey-text text-lighten-3">Venez rencontrer les professionnels Ruby du Wagon, ce vendredi @ WorkPlace and Kids - Nantes </h5>
      </div>
    </li>
    <li>
      <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
      <div class="caption right-align">
        <h3>DemoDays Le Wagon</h3>
        <h5 class="light grey-text text-lighten-3">Vla pas mal ces petites démos ma foi.</h5>
      </div>
    </li>
    <li>
      <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
      <div class="caption center-align">
        <h3>Rencontres musicales</h3>
        <h5 class="light grey-text text-lighten-3">Ibrahim Maalouf et les Oufs Malades sont au rendez-vous.</h5>
      </div>
    </li>
  </ul>
</div>
