<% if notice %>
  <div class="alert green lighten-4 green-text text-darken-4" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert yellow lighten-4 yellow-text text-darken-4" role="alert">
    <%= alert %>
  </div>
<% end %>
