<footer class="page-footer">
  <div class="main">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">WorkPlace&Kids</h5>
        <p class="grey-text text-lighten-4">Nous vous accompagnons en vous offrant un espace de coworking de standing ainsi qu'une place pour vos jeunes enfants </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Liens utiles</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="#!">MENTIONS LÉGALES</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">PLAN DU SITE</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
      © 2017 Copyright Text
      <i class="fa fa-google" href="#!"></i>
      <i class="fa fa-facebook-official"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-pinterest"></i>
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</div>
</footer>
