<ul id="slide-out" class="side-nav">
  <li><div class="user-view">
    <div class="background">
      <img src="images/office.jpg">
    </div>
    <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
    <a href="#!name"><span class="white-text name">John Doe</span></a>
    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">person</i>Profil</a></li>
  <li><a href="#!"></a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>



<div class="row">
  <div class="panel center">
    <h4>Vos réservations</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<div class="row">
  <div class="panel center">
    <h4>Salle de réunion</h4>
    <div class="col s12 m12">
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/business/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div id="test-slider"></div>
        </div>
        <div class="card-action">
          <a href="#">Réserver une salle</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="panel center">
    <h4>Evènements à venir</h4>
    <div class="col s12 m4">
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
            <a href="#">Découvrir</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/5">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
            <a href="#">Découvrir</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/2">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
            <a href="#">Découvrir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
