<h1>Ma réservation</h1>
<p>Ma semaine type :</p>

<p>Mes informations personnelles :</p>

<%= link_to "Modifier ma semaine type", edit_reservation_path(current_user.reservation) %>
<%= link_to "Modifier mes infos", edit_client_datum_path(current_user.client_datum) %>
