// Your footer style
.page-footer {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-color: $pink;
 }

.main {
  flex: 1 0 auto;
  padding-top: 20px;
  }
.footer page-footer {
  padding-top: 0px;
}
footer.page-footer {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  background-color: $pink;
}
.fa {
  padding-left: 30px;
}
.footer-copyright {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
.grey-text.text-lighten-4 {
    color: #f5f5f5 !important;
    text-align: left;
    padding-left: 0px;
}
.white-text {
  text-decoration: underline;
}
